<p>
  <b>Title:</b>
  <%=h @album.title %>
</p>

<p>
  <b>Desciption:</b>
  <%=h @album.description %>
</p>

<p>
  <b>User:</b>
  <%=h @album.user_id %>
</p>

<p>
  <b>Asset count:</b>
  <%=h @album.asset_count %>
</p>

<div class="clearfix">
<%= pager @album.assets.size %>
</div>

<%= render :partial => "assets/assets_table", :locals => {:assets => @album.assets, :context => "a_#{@album.id}"} %>

<div class="clearfix">
<%= pager @album.assets.size %>
</div>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
