<script type="text/javascript" src="/javascripts/photo_tagger.js"></script>
<script type="text/javascript">
ptTags = <%= (asset.tags).to_json %> 
var photo_tagger = new PhotoTagger("photo","tag_form",ptTags);
</script>

<% remote_form_for(:friend, {:url => user_user_asset_tags_path(:user_id => current_user.id, :user_asset_id => asset.id )}) do |f| %>

  Tag a friend:
  <%= f.text_field :name %>
  
  <div id="create-tag-response" class="ajax-response"></div>
  
  <%= submit_tag "Send!", :class=>"submit_button", :style=>"font-size: 1em;", :id => "tag_submit" %>
  <span id="tag_cancel_link">
    <%= link_to_function "(cancel)", "photo_tagger.cancelForm();" %>
  </span>
  
  <%= hidden_field_tag :asset_id, asset.id %>
  <%= hidden_field_tag :x, :id => "pt-form-x" %>
  <%= hidden_field_tag :y, :id => "pt-form-y" %>

<% end %>

