<h1>Upload a Picture:</h1>

<%= semantic_form_left_column_size(7) %>

<% semantic_form_for(:asset, :url => photos_path(:format => :iframe), :html => { :multipart => true, :target => "frame" }) do |f| %>
  <%= hidden_field_tag :through_iframe, true %>
  <%= f.file_field :uploaded_data, :size => 20, :label => "Select a File:" %>
  <%= f.submit_and_spinner "Upload!", {:onclick => "if($('asset_uploaded_data').value.length == 0){ return false; }; Element.show('spinner');" } %>
<% end -%>

<div id="upload_status_container" class="notification-outer" style="display: none;">
  <h2>Done</h2>
  <b>
    <%= link_to "Go to your photos", photos_path %>
  </b>
</div>

<iframe id='frame' name="frame" height="0px" width="10px" frameborder="0" scrolling="no"></iframe>